<div class="title-bookings">
  <% if @bookings.count==1 %>
        <h1>Your booking</h1>
      <% else %>
        <h1>Your<strong> <%= @bookings.count %> </strong> bookings</h1>
      <% end %>
</div>

<%= link_to boardgames_path, class: "back_action" do %>
  <i class="fas fa-arrow-alt-circle-left"></i>
<% end %>

<table class="container mb-5" id="show-table">
  <thead>
    <tr>
      <th><h2></h2></th>
      <th><h2>Games booked</h2></th>
      <th><h2>From</h2></th>
      <th><h2>To</h2></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><% if booking.boardgame.photo.attached? %>
            <%= cl_image_tag booking.boardgame.photo.key, id: "img-show", height: 100, width: 100, crop: :fill %>
          <% else %>
            <img id="img-show" src="<%= booking.boardgame.cover_url %>" width="100" height="100">
          <% end %></td>
        <td><strong><%= booking.boardgame.title %></strong></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
