<div class="container p-2">

  <h1>empty</h1>

  <div class="mt-3 amount">
    <% if @query %>
      <p>You searched for <strong><%= @query %></strong>. We found <%= @boardgames.count %> boardgames out of our <%= Boardgame.count %> on our website.</p>
    <% else %>
      <h1>All <strong> <%= Boardgame.count %> </strong> boardgames</h1>
    <% end %>
  </div>

  <div class="cards">
    <% @boardgames.each do |boardgame| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="card-trip">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= boardgame.title %></h2>
                    <p><%= boardgame.description %></p>
                  </div>
                  <h2 class="card-trip-pricing">€<%= boardgame.price_per_day %></h2>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <% if policy(boardgame).show? %>
                <%= link_to "See details", boardgame, {class: 'btn btn-gradient'} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <% if policy(Boardgame).create? %>
    <%= link_to "New Boardgame", new_boardgame_path, {class: 'btn btn-gradient'} %>
  <% end %>

</div>
