
<div class="container p-2">

  <div class="mt-3 amount">
    <% if @query %>
      <p>You searched for <strong><%= @query %></strong>. We found <%= @boardgames.count %> boardgames out of our <%= Boardgame.count %> on our website.</p>
    <% else %>
      <h1>All <strong> <%= Boardgame.count %> </strong> boardgames</h1>
    <% end %>
  </div>

 <% if policy(Boardgame).create? %>
    <%= link_to "New Boardgame", new_boardgame_path, {class: 'btn btn-gradient mb-5'} %>
  <% end %>

  <div class="cards-index">
    <% @boardgames.each do |boardgame| %>
      <% if policy(boardgame).show? %>
        <%= link_to boardgame do %>
          <div class="card-trip">
            <img src="https://cf.geekdo-images.com/sZYp_3BTDGjh2unaZfZmuA__original/img/7d-lj5Gd1e8PFnD97LYFah2c45M=/0x0/filters:format(jpeg)/pic2437871.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= boardgame.title %></h2>
              </div>
              <h2 class="card-trip-pricing">€<%= boardgame.price_per_day %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>



</div>
