<div class="container">
  <div>
    <div class="row">
      <% if @boardgame.photo.attached? %>
        <%= cl_image_tag @boardgame.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img class="col-4 p-3" id="img-show" src="<%= @boardgame.cover_url %>">
      <% end %>

      <div class="col-8">
        <div class="pt-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h1><%= @boardgame.title %></h1>
          </div>
      </div>

      <h3><%= @boardgame.price_per_day %>€</h3>

      <div class="mt-2 pr-3 content">
        <p><%= @boardgame.description %></p>
      </div>

      <div class="mt-2 pr-3 content">
        <p> <strong>Players:</strong> <%= @boardgame.minplayers %> - <%= @boardgame.maxplayers %> </p>
      </div>

      <div class="mt-2 pr-3 content">
        <p> <strong>Playing Time:</strong> <%= @boardgame.playingtime %> Min</p>
      </div>

      <div class="mt-2 pr-3 content">
        <p><strong>Age:</strong> <%= @boardgame.minage %></p>
      </div>

      <div>
      <% if policy(Boardgame).create? %>
        <%= link_to "Book Game", new_boardgame_path, class:'btn btn-gradient' %>
      <% end %>
      </div>
        <br>
          <div>
            <% if policy(@boardgame).edit? %>
              <%= link_to "Edit", edit_boardgame_path(@boardgame), class:'btn btn-light btn-sm' %>
            <% end %>
            <% if policy(@boardgame).destroy? %>
              <%= link_to "Delete", @boardgame, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn-light btn-sm' %>
            <% end %>
          </div>
      </div>
  </div>


  <div>

    <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  </div>
</div>
